body {
    background-color:rgb(78, 116, 52);
}
p {
    color: rgb(0, 0, 0);
    font-family: "Lucida Console", "Courier New", monospace;
}
h2 {
    color: rgb(79, 247, 2);
    font-family: "Lucida Console", "Courier New", monospace;
}
h1 {
    color: rgb(79, 247, 2);
    font-family: "Lucida Console", "Courier New", monospace;
}
input {
    background-color: rgb(116, 52, 116);
    padding: 15px 20px;
    color: white;
    border: 3px solid white;
    
}
input:focus {
    background-color:  rgb(116, 52, 116);
    border: 0px solid greenyellow;
}